/* A külső konténer illeszkedjen a content divhez */
.login-register-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* A border box */
.login-register-border {
  width: 80%;               /* szépen illik a layoutba, állíthatod */
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 5px;
  display: flex;
  justify-content: center;
  background: #f9f9f9;
}

/* A switch belseje */
.login-register-switch {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  align-items: center;
}

.login-register-switch label {
  padding: 1rem;
  z-index: 2;
  cursor: pointer;
  width: 50%;
  text-align: center;
}

/* Az aktív háttér */
.lr-active-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #14142a;
  opacity: 0.4;
  border-radius: 10px;
  transition: 0.3s ease;
  z-index: 1;
}

/* A rádiók */
input[type="radio"] {
  display: none;
}

/* Animáció jobbra-balra */
#lr-switch1:checked ~ .lr-active-label {
  left: 0;
}
#lr-switch2:checked ~ .lr-active-label {
  left: 50%;
}
