#root {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: left;
  background: #fff;
  border-radius: 0;
  box-shadow: none;
}

body{
    background: linear-gradient(rgb(177, 177, 231),white, rgb(244, 241, 245))
}