.login-conatiner{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 15px;
}

.login-image-div{
    width: 50%;
}

.login-content-div{
    width: 50%;
}

.login-image-div img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

